<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="com.asosa.myapp.resources" />
	<context:component-scan base-package="com.asosa.myapp.domain" />
	<context:component-scan base-package="com.asosa.myapp.dao" />

	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/myapp-dev" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="myHibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.c3p0.minPoolSize">5</prop>
				<prop key="hibernate.c3p0.maxPoolSize">20</prop>
				<prop key="hibernate.c3p0.timeout">1800</prop>
				<prop key="hibernate.c3p0.max_statement">50</prop>
			</props>
		</property>
	</bean>

	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="myDataSource" />
		</property>
		<property name="hibernateProperties">
			<ref bean="myHibernateProperties" />
		</property>
		<property name="mappingResources">
			<list>
				<value>com/asosa/myapp/domain/Task.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="taskDao" class="com.asosa.myapp.dao.TaskDao">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
</beans>